.App {
  text-align: center;
  background-image: url("../src/cover.jpeg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size:cover;
}

.content{
  color: whitesmoke;
  font-family: "montserrat";
  font-size: 35px; 
  text-shadow: 3px 3px black;
  margin-top: 35px;

 
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn{
  border: 1px solid black;
  border-radius: 5px;
  background: none;
  padding: 10px 20px;
  font-size: 27px;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  font-family: "montserrat";
  overflow: hidden;
  margin-top: 200px;
  right: -390px;
  
  

}

.btn:hover{
  background:black;
  opacity: 0.9;
  color: antiquewhite;

}


nav{                                     

  background: transparent;
  margin-top: -20px;
  margin-right: 50px;
  height: 145px;
}

nav ul{
  list-style: none;
  float: right;
  position: relative;
  top: 65px;
  margin-top: 45px;

}

nav ul li{
  display: inline-block;
  margin: -70px 20px 20px;
  background:transparent;

}

nav:after{
  clear: both;
  display: table;
  content: '';

}
nav ul li a{
  color: white;
  line-height: 30px;
  font-size: 22px;
  margin-top: -50px;
  text-decoration: none;
  padding: 8px 10px;

}


nav ul li a:hover{                      /*Adding hover effect to the nav */

  color: cyan;
  box-shadow: 0 0 5px #33ffff;
}

nav ul ul{
  position: absolute;
  top: -30px;
  opacity: 0;
  visibility: hidden;

}

nav ul li:hover > ul{
  opacity: 1;
  visibility: visible;
}

nav ul ul li{
  position: relative;                       /* Setting properties of a relatively-positioned*/
  margin: 27px -65px -10px;
  width: 120px;
  float: none;
  display: list-item;

}